data/
figures/
results/
logs/
references/
work/

# Ignore files
.gitignore

#ignore other files
.ignore
*.err
*.out
*.nextflow*

# Ignore image files
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif
*.svg
*.pdf

# Ignore spreadsheet and tabular data files
*.csv
*.tsv
*.xls
*.xlsx
*.ods

# Optional: ignore temporary or backup files
*.tmp
*.bak
*~
